.about {
    
    .top-content {
        h1{
            
            text-align: center;
            padding-top: 2%;
        }
        
        
    }

    .team-content{
        display: flex;
        flex-wrap: wrap;
        margin-top: 3%;
        margin-left:20%;
        margin-bottom: 2%;
      
      
        @media @phone {
           display: flex;
           flex-direction: column;
           margin-left: 20%;
           
       }
    

        .member {
         width: 50%;
         margin-top:3%;

         @media @phone {
             width: 150%;
             
             
         }
         .about-text {
             text-align: center;
             margin-right: 50%;
             
             h2{
                 font-size:2rem;
                 margin-bottom: 0;
                 padding-bottom: 0;
                 margin-bottom: 1%;
                 white-space: nowrap;
             }
             h3{
                 font-size:1.6rem;
                 margin-bottom: 5%;
             }
             a {
                 text-decoration: none;
                 color: black;
                 font-size:1.6rem;
                .custom-btn2(@button-color,100%,white);
                 
             }
                a:hover{
                background: white;
                color: @button-color;
            }
         }
         
        }//member close



    }// team-content close

}//about close

.member-img {
    width:50%;
   }

.about-footer {
    height: 60px;
    padding: 1%;
   p{
    @media @phone {
       margin-top: 2%;
    }
      
   }
}