
.background {

background: #EAFFEA;
}


.home {


    .feature{
    display: flex;
    flex-wrap: wrap;    
    justify-content: space-between;    

        .text-content{
        width: 48%;

        }
    }//feature close


}//home close


.feature-img {
    width: 50%;
    height:50%;

}