
.background {

background: #EAFFEA;
}


.home {
    
    .water-img{
        width:100%;
        height: 400px;
        margin-bottom:4%;
    }

    .intro {
        h1 {
            margin-bottom: 2%;
        }
        p {
            margin-bottom: 2%;
        }
        @media @tablet{
            width: 90%;
            margin-left: 5%;
        }
    }


    .feature{
    display: flex;
    flex-wrap: wrap;    
    justify-content: space-between;    
    margin-bottom:4%;

    @media @tablet {
        width: 90%;
        margin-left: 5%;
    }

    @media @phone{
        display:flex;
        flex-direction: column-reverse;
        margin-left: 10%;
        
    }

    
        .text-content{
        width: 48%;
            @media @phone{
                width: 100%;
                margin-top:4%;
            }
        }//text close
    }//feature close

    .reverse {
        @media @phone {
        display: flex;
        flex-direction: column;
        }
    }





}//home close
.bottom-content {
    background: #20B86F;
    display: flex;
     flex-direction: column;
     align-content: center;
    h1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 2%;
    }
    .bottom-button {
        .custom-btn(#0A2342,400px,white);
        display: flex;
       flex-direction: row;
        align-self: center;
        align-content: center;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-top: 2%;     
        
    }//bottom-button close
    .bottom-button:hover{
        background: white;
        color: #0A2342;
    }
}//bottom-content


.feature-img {
    width: 50%;
    height:50%;
    @media @phone {
        width: 90%;
    }
}

footer {
    background: #20B86F;
    display: flex;
    flex-direction: column;
    align-items: center;

}
