
.custom-btn(@button-bg:#0A2342, @button-width:200px, @button-font-color:black){
    display: block;
    background-color: @button-bg;
    margin: 0 1% 2%;
    cursor: pointer;
    width: @button-width;
    height: 45px;
    font-size: 2rem;
    border-radius: 10px;
    color:@button-font-color;
    text-align: center;
    padding: 3.5% 0;
}