

.menu {
    display:flex;
    flex-basis: row;
   
    padding: 16px;
  
    max-width: 1000px;
    margin: 0 auto;
    .logo {
        width: 30%;
    }

    .nav-items {
        display: flex;
        flex-direction: row;
        margin-left: auto;
        white-space: nowrap;
        justify-content: space-evenly;
        text-decoration: none;
        margin-top: 1.5%;
        font-size: 1.6rem;
    }
    a {
        margin-right:20px;
        text-decoration: none;
        color: black;
    }
    
   
}

